.sidebar-content {
    position: fixed;
    width: 15vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 20px;
    border-right: 1px solid #dbdbdb;
    /* transition: width, 1s; */
}

.sidebar-content.active{
    width:15vw;
}

.sidebar-icon-text{
    height:8vh;
}
.sidebar-list{
    height:82vh;
}
.sidebar-list-etc{
    height:10vh;
}

.sidebar-icon {
    margin-left: 2vw;
}

.sidebar-icon .sidebar-icon-text {
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sidebar-content a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.sidebar-content a:hover {
    background-color: #ddd;
}

.sidebar-content img {
    width: 30px;
    height: auto;
}

.sidebar-list a:hover{
    cursor: pointer
}

.sidebar-list div, .sidebar-list-etc div {
    display: inline-block;
    margin-left: 10px;

}

.sidebar-content i {
    font-size: 1.5em;
}

.sidebar-content-search{
    /* display:none; */
    visibility: hidden;
    position: fixed;
    background-color: #fff;
    margin-left:15vw;
    width:20vw;
    border-right: 1px solid #dbdbdb;
    box-shadow: 1px 0px 10px 1px #eeeeee;
    border-radius: 0 20px 20px 0;
    z-index: 1000;
    transform:translateX(-5vw);
    transition: transform 1s ease 0.1s, visibility 0.5s;

}
.sidebar-content-search.active{
    visibility: visible;
    transform:translateX(0);
}



.sidebar-content-search-top{
    height:10vh;
}

.sidebar-content-search-body{
    height:90vh;
}

.sidebar-content-search-title{
    margin-left:2vh;
}
.sidebar-content-searchbar-area form{
    width:100%;
    height:5vh;
    margin-bottom:3vh;
}

.sidebar-content-search-bar{
    background-color: #efefef;
    width:90%;
}

.sidebar-content-search-bar-icon{
    margin-right:0.5vw;
}

#sidebar-search-input{
    background-color: #efefef;
    width:100%;
}
.search-recent-body{
    height:82vh;
    overflow-y: auto;
}

.search-recent-body::-webkit-scrollbar {
    width: 10px;
}
.search-recent-body::-webkit-scrollbar-track {
    background-color: gray;
}
.search-recent-body::-webkit-scrollbar-thumb {
    background-color: skyblue;
}
.search-recent-body::-webkit-scrollbar-button {
    display: none;
}

.search-recent-body-list-title{
    height:4vh;
    margin-left:1vw;
    margin-top:2vh;
}
.search-recent-body-list-title span{
    vertical-align: middle;
}


.search-recent-body-list{
    height:76vh;
}

.search-recent-body-list-empty-text{
    font-size: 0.8em;

}

.search-item{
    margin-left:1vw;
    margin-top:2vh;
}

.search-item-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #222;
    background: #ffffff;
}

.search-item-info {
    padding-left: 10px;
}

.search-item-info i {
    color: blue;
    padding-left: 2px;
    vertical-align: center;
    display: none;
}

.search-item-info div:first-child {
    font-size: 0.8em;
    font-weight: 600;
    padding: 1px;
}

.search-item-info div:last-child {
    font-size: 0.7em;
    padding: 1px;
}

.sidebar-content-search-delete-icon{
    display:none;
    margin-left:0.5vw;
    cursor: pointer;
    z-index:1100;
}


.no-border-input{
    border-width:0;
    outline:none;
}

.sidebar-content-body-outline{
    border-bottom: 1px solid #dbdbdb;
}
@media screen and (max-width:1000px) {
    .base-header button div {
        display: none;
    }

    .sidebar-list div {
        display: none;
    }

    .sidebar-content {
        width: 8vw;
    }

    .sidebar-icon-text {
        display: none;
    }

    .sidebar-list-etc div{
        display:none
    }
}

@media screen and (max-width:770px) {
    .sidebar-content {
        width: 50px;
    }

    .sidebar-list a {
        padding: 10px 10px;

    }

    .sidebar-list div {
        display: none;
    }

    .content {
        padding: 20px;
    }
    .sidebar-list-etc div{
        display:none
    }
    .card-content-item {
        margin: 2vh
    }

}